:root {
    --primary-font:"Comfortaa";
    --secondary-font:"Monsterat";
    --ternary-font:"Roboto";
}
:root {
 --primary-color:#fff;
 --secondary-color:#f18128;
 --ternary-color:#040d1f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
    vertical-align: bottom;
}
input,button{
    background: transparent;
    border: 0;
    outline: 0;
}
body{
    background: var(--ternary-color);
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.btn{
    width: 166px;
    padding: 17px 0;
    text-align: center;
    background: var(--secondary-color);
    font-family: var(--ternary-font);
    font-size: 14px;
    font-weight:500;
    color:#000;
    border-radius: 4px;
    display: inline-block;
    transition: 0.4s;
}
.btn:hover{
    background: var(--ternary-color);
    color: var(--primary-color);
}
.title{
    color: var(--secondary-color);
    font-size: 36px;
    border-bottom: 2px solid var(--secondary-color);
    width: max-content;
    padding-bottom: 10px;
}
.limited{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.footer__txt{
    color: var;
}